.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/c/c0/Soraya_Montenegro.jpg');
    background-size: cover;
    margin: 5px
  }

  .post-image {
    width: 60px;
    height: 60px;
  }