<div class="container">
    <h3 style="text-align: center">Change password</h3>
    <br>
    <div *ngIf="!this.isExpired">
    <form [formGroup]="passwordRecoveryForm" (ngSubmit)="changePassword()">
     
      <div fxFlex="100%">  
        <mat-form-field  class="form-field" appearance="fill">
        <mat-label>New password</mat-label>
          <input matInput formControlName="newPassword" name="newPassword" type="password" 
                  [(ngModel)]="newPassword" required> 
          <mat-error *ngIf="passwordRecoveryForm.value.newPassword">Password must be a combination of lower-case, upper-case, numbers and at least 9 characters long</mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" type="password" required pattern="{{passwordRecoveryForm.value.newPassword}}">
          <mat-error *ngIf="passwordRecoveryForm.value.confirmPassword">Passwords do not match.</mat-error>
        </mat-form-field>
      </div>
      <br>
      <div fxFlex="100%">
          <button mat-stroked-button color="primary" type="submit">Change</button>
      </div>
    </form>
    </div>
    <div *ngIf="this.isExpired"><p>Token expired...</p></div>
</div>


