<div class="container">
    <h3 style="text-align: center">Forgot Password?</h3>
    <h5 style="text-align: center">We will be sending a reset password link to your email if valid.</h5>

    <br>
   
    <form [formGroup]="forgotPasswordForm" class="example-form" (ngSubmit)="send()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" name="email" type="email" 
                 placeholder="Ex. pat@example.com" [(ngModel)]="email" required> 
          <mat-error *ngIf="forgotPasswordForm.value.email">Email is not valid.</mat-error>

        </mat-form-field>
      
      <div fxFlex="100%">
          <button mat-stroked-button color="primary" type="submit">Send</button>
      </div>
    </form>
</div>


